USE [master]
GO
/****** Object:  Database [Cargo]    Script Date: 6.08.2025 18:13:21 ******/
CREATE DATABASE [Cargo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cargo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cargo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cargo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cargo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cargo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cargo]
GO
/****** Object:  Table [dbo].[Admin_Information]    Script Date: 6.08.2025 18:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_Information](
	[Admin_Username] [nvarchar](50) NOT NULL,
	[Admin_Password] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin_Table]    Script Date: 6.08.2025 18:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_Table](
	[Cargo_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cargo_User_Name_ID] [int] NOT NULL,
	[Cargo_Name_ID] [int] NOT NULL,
	[Cargo_Location_ID] [int] NOT NULL,
	[Cargo_Status_ID] [tinyint] NOT NULL,
	[Cargo_Date] [date] NOT NULL,
	[Cargo_Delivery_Date]  AS (dateadd(day,(3),[Cargo_Date])),
 CONSTRAINT [PK_Admin_Table] PRIMARY KEY CLUSTERED 
(
	[Cargo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargo_Location_Table]    Script Date: 6.08.2025 18:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo_Location_Table](
	[Cargo_Location_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cargo_Location_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cargo_Location_Table] PRIMARY KEY CLUSTERED 
(
	[Cargo_Location_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargo_Name]    Script Date: 6.08.2025 18:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo_Name](
	[Cargo_Name_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cargo_Name] [nvarchar](80) NOT NULL,
	[Cargo_Location_ID] [int] NOT NULL,
	[Cargo_Status_ID] [tinyint] NOT NULL,
 CONSTRAINT [PK_Cargo_Name] PRIMARY KEY CLUSTERED 
(
	[Cargo_Name_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargo_Status_Table]    Script Date: 6.08.2025 18:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo_Status_Table](
	[Cargo_Status_ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Cargo_Status_Name] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Cargo_Status_Table] PRIMARY KEY CLUSTERED 
(
	[Cargo_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargo_User_Table]    Script Date: 6.08.2025 18:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo_User_Table](
	[Cargo_User_Name_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cargo_User_Name] [nvarchar](50) NOT NULL,
	[Cargo_User_Tel] [nvarchar](11) NOT NULL,
	[Cargo_User_Mail] [nvarchar](50) NOT NULL,
	[Cargo_User_Adress] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Cargo_User_Table] PRIMARY KEY CLUSTERED 
(
	[Cargo_User_Name_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal_Information]    Script Date: 6.08.2025 18:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal_Information](
	[Personal_Username] [nvarchar](50) NOT NULL,
	[Personal_Password] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_select_user]    Script Date: 6.08.2025 18:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_select_user]
AS
BEGIN
    SELECT
        ad.Cargo_ID AS 'Kargo Takip Numarası',
        ad.Cargo_User_Name AS 'Kargo Sahibi',
        ad.Cargo_Name AS 'Kargo Adı',
        lt.Cargo_Location_Name AS 'Kargo Lokasyonu',
        st.Cargo_Status_Name AS 'Kargo Durumu',
        ad.Cargo_Delivery_Adress AS 'Teslimat Adresi',
        ad.Cargo_Date AS 'Kargoya Verilme Tarihi',
        ad.Cargo_Delivery_Date AS 'Kargo Tahmini Teslim Tarihi'
    FROM Admin_Table ad
    INNER JOIN Cargo_Location_Table lt ON ad.Cargo_Location_ID = lt.Cargo_Location_ID
    INNER JOIN Cargo_Status_Table st ON ad.Cargo_Status_ID = st.Cargo_Status_ID;
END;
GO
USE [master]
GO
